@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
    background-color: #E5E5E5;
    overflow: auto;
    overflow-x: hidden;
}

/* colors */
.nav-bg-col {
    background-color: #1C304A;
}
.nav-item, a{
    color: #E5E5E5;
}

/* toggler button */
.hamburger-icon{
    color: #E5E5E5;
    padding-top: 20%;
    padding-right: 30%;
    padding-bottom: 20%;
}
span .hamburger-icon{
    font-size: 2.5rem;
}
.nav-btn-col{
    border-color: #1C304A;
}
#navbar-btn:focus{
    outline: none;
}
/* Manson Logo */
/*CREDIT: Issues with line height and letter spacing resolved with thanks to stack overflow: https://stackoverflow.com/questions/3587390/how-can-i-make-text-appear-on-next-line-instead-of-overflowing#3587411 */
.manson-logo{
    width: 50%;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    color: #E5E5E5;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 3px;
    white-space: initial;
}
.manson-logo:hover{
    color: #02C8F6;
}
/* Navbar Items */
.nav-item, a:hover{
    color:#02C8F6;
}
.navbar .nav-link{
    text-transform: capitalize;
    line-height: 2rem;
}
.menu-link{
    font-size: 6rem;
}
/* footer*/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1C304A;
    padding: 1rem;
}
.foot-head, h3{
    color: #E5E5E5;
    font-size: 1rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.foot-deets{
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}
.social-icons{
    text-align: center;
    line-height: 2em;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #02C8F6;
    color: #E5E5E5;
}
/* header */
.hdr{
    height: 75vh;
    width: 100vw;
}
.header-image {
    background: url("../images/manson-avenue.jpg");
    background-size: cover;
    background-position: 70% 20%;
    background-repeat: no-repeat;
    overflow: hidden;
}
.cta-btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*Review section complete, got help from W3 schools and Gary Simon youtube channel to finish it */
.review-section{
    height: 90%;
    margin-bottom: 5%;
}
.review-heading{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #1C304A;
    height: 10%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.8rem;
}
.review-para{
    font-size: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #1C304A;
    height: 2vh;
    margin-top: 1rem;
}
.review-img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;    
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
}
figure{
    margin-top: 2rem;
    text-align: center;
}
.review-text{
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: #1C304A;
}
.review-border{
    border-right: 0.1rem #1C304A solid;
}
.review-name{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    color: #1C304A;
}

/*band merchandise section */
.band-merch{
    height: 100%;
    width: 100%;
    background-color: #2A4262;
}
.band-merch-head{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #E5E5E5;
    height: 10%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
/* Got help with the shadow of the box from https://codepen.io/sdthornton/pen/wBZdXq */
.band-merch-card{
    margin-left: 15%;
    margin-bottom: 15%;
    height: 95%;
    background-color: #E5E5E5;
    box-shadow: 0 1.9rem 3.8rem rgba(0,0,0,0.30), 0 1.5rem 1.2rem rgba(0,0,0,0.22);
}
.merch-img{
    height: 30vh;
    width: 100%;
}
/* got some help with centering my buttons on stack overflow at https://stackoverflow.com/questions/8508275/how-to-center-a-position-absolute-element */
.merch-buy-btn{
    background-color: #02C8F6;
    border-color: #02C8F6;
    color: #E5E5E5;
    width: 50%;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.merch-buy-btn:hover{
    background-color: #1C304A;
}
.buy-now-text, .buy-now-text:link{
    text-transform: uppercase;
    text-decoration: none;
    
}
.card-head{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #1C304A;
}
.card-body-text{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #1C304A;
}

/*Concert Schedule section */
.concert-schedule{
    height: 100vh;
}
.concert-head{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #1C304A;
    height: 10%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}
.upcoming-concert-details {
    background-color: #1C304A;
    margin-bottom: 4rem;
    box-shadow: 0.3rem 0.3rem 0.9rem 0.2rem #1C304A;
}
/* had an issue with transitioning the element and I got the answer here https://travis.media/how-to-make-an-item-grow-on-hover-with-css/ */
.upcoming-concert-details:hover{
    transition: all .5s ease-in-out;
    transform: scale(1.1);
}
.upcoming-concert-head{
    color:#E5E5E5;
    background-color: #1c304A;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}
.upcoming-concert-body{
    color:#E5E5E5;
    display: flex;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    margin: 0 auto;
}
/* got help with my table placement from https://www.w3docs.com/snippets/css/how-to-create-space-between-rows-in-the-table.html */
.concert-table {
  border-collapse: separate;
  border-spacing: 0 1.5rem;
}
.concert-details{
    width: 15rem;
    text-align: center;
}
/*media queries */

@media only screen and (max-width: 768px){
    .review-border{
        border-right: hidden;
    }
}
@media only screen and (max-width: 444px){
    .review-heading{
        font-size: 1rem;
    }
    .review-para{
        font-size: 0.8rem;
    }
    .manson-logo{
        font-size: 1rem;
    }
    .band-merch-head{
        font-size: 1rem;
    }
    .concert-head{
        font-size: 1.3rem;
    }
}
@media screen and (min-width: 767px){
    
    .merch-img{
        height: 30vh;
    }
    .review-img{
        height: 7.5rem;
        width: 7.5rem;
    }
}
