@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
    background-color: #E5E5E5;
    overflow: auto;
    overflow-x: hidden;
}

/* colors */
.nav-bg-col {
    background-color: #1C304A;
}
.nav-item, a{
    color: #E5E5E5;
}

/* toggler button */
.hamburger-icon{
    color: #E5E5E5;
    padding-top: 20%;
    padding-right: 30%;
    padding-bottom: 20%;
}
span .hamburger-icon{
    font-size: 2.5rem;
}
.nav-btn-col{
    border-color: #1C304A;
}
#navbar-btn:focus{
    outline: none;
}
/* Manson Logo */
/*CREDIT: Issues with line height and letter spacing resolved with thanks to stack overflow: https://stackoverflow.com/questions/3587390/how-can-i-make-text-appear-on-next-line-instead-of-overflowing#3587411 */
.manson-logo{
    width: 50%;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    color: #E5E5E5;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 3px;
    white-space: initial;
}
.manson-logo:hover{
    color: #02C8F6;
}
/* Navbar Items */
.nav-item, a:hover{
    color:#02C8F6;
}
.nav-fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.navbar .nav-menu-items{
    text-transform: capitalize;
    line-height: 2rem;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.menu-link{
    font-size: 6rem;
}
/* footer*/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1C304A;
    padding: 1rem;
}
.foot-head, h3{
    color: #E5E5E5;
    font-size: 1rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.foot-deets{
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}
.social-icons{
    text-align: center;
    line-height: 2em;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #02C8F6;
    color: #E5E5E5;
}
/* header */
.hdr{
    height: 100vh;
    width: 100vw;
    position: relative;
}
.header-image {
    background: url("../images/manson-avenue.jpg");
    background-size: cover;
    background-position: 70% 20%;
    background-repeat: no-repeat;
    overflow: hidden;
}
.hdr-cta{
    display: block;
    position: relative;
    height: 4rem;
    width: 80%;
    border-radius: 4rem;
    top: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}
#hdr-cta-btn1{
    display: block;
    text-align: center;
    background-color: #02c8F6;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-shadow: 0.1rem 0.1rem #1C304A;
    letter-spacing: 0.1rem;
    color:#E5E5E5;
    border: 0.1rem solid #02C8F6
}
#hdr-cta-btn2{
    display: block;
    text-align:center;
    background-color: transparent;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-shadow: 0.1rem 0.1rem #1C304A;
    letter-spacing: 0.1rem;
    color: rgb(241, 241, 241);
    border: 0.2rem solid #02C8F6;
}
.cta-text, .cta-text:link{
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 500;
}
.cta-text:hover{
    color: #E5E5E5
}
.contact-header{
    background: url("../images/microphone-pic.jpg");
    background-size: cover;
    background-position: 55% 40%;
    background-repeat: no-repeat;
    overflow: hidden;
}
/* Jumbotron on the contact form using some bootstrap display properties */
.contact-form-jumbotron{
    background-color: transparent;
    position: absolute;
    top: 45%;
    right: 0;
    margin-right: auto;
    padding: 0;
}
.contact-form-question{
    color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    text-align: right;
    padding: 0.8rem;
    margin-right: 10%;
}
.contact-form-text{
    color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    text-align: justify;
    margin-top: 5%;
    padding: 0.5rem 2rem;
}
/* contact us form section, got help with styling the contact form from https://stackoverflow.com/questions/19714274/css-aligning-text-boxes-with-labels */
.contact-section{
    height: 100%;
    margin-bottom: 45%;
}
.contact-us-form{
    height: 100%;
    width: 100%;
    margin-bottom: 10%;
}
.labels{
    text-align: center;
    padding-right: 1rem;
    display: inline-block;
    min-width: 10rem;
    font-family: 'Roboto', sans-serif;
    color: #1C304A;
}
.inputs{
    display: inline-block;
    width: 50%;
    margin: 1rem;
    font-family: 'Roboto', sans-serif;
}
.contact-form-submit{
    display: inline-block;
    width: 15rem;
    background-color: #02C8F6;
    color: #E5E5E5;
    margin-top: 10%;
    border: 1px solid #02C8F6;
}
.contact-form-submit:hover{
    background-color: #02C8F6;
    color: #E5E5E5;
}
/* neeed help to sort out the placement of my text area label https://stackoverflow.com/questions/1839403/how-do-i-align-a-label-and-a-textarea */
textarea{ 
    vertical-align: middle;
}​
/*Review section complete, got help from W3 schools and Gary Simon youtube channel to finish it */
.review-section{
    height: 90%;
    margin-bottom: 5%;
}
.review-heading{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #1C304A;
    height: 10%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.8rem;
}
.review-para{
    font-size: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #1C304A;
    height: 2vh;
    margin-top: 1rem;
}
/* had some issues with sizing of the images, a solution was found here https://medium.com/@kimcodeashian/simple-css-solutions-how-to-resize-images-with-different-dimensions-without-cropping-eb744e93246d */
.review-img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
}
figure{
    margin-top: 2rem;
    text-align: center;
}
.review-text{
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: #1C304A;
}
.review-border{
    border-right: 0.1rem #1C304A solid;
}
.review-name{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    color: #1C304A;
}

/*band merchandise section */
.band-merch{
    height: 100%;
    width: 100%;
    background-color: #2A4262;
}
.band-merch-head{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #E5E5E5;
    height: 10%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
/* Got help with the shadow of the box from https://codepen.io/sdthornton/pen/wBZdXq */
.band-merch-card{
    margin-left: 15%;
    margin-bottom: 15%;
    height: 95%;
    background-color: #E5E5E5;
    box-shadow: 0 1.9rem 3.8rem rgba(0,0,0,0.30), 0 1.5rem 1.2rem rgba(0,0,0,0.22);
}
.merch-img{
    height: 30vh;
    width: 100%;
}
/* got some help with centering my buttons on stack overflow at https://stackoverflow.com/questions/8508275/how-to-center-a-position-absolute-element */
.merch-buy-btn{
    background-color: #02C8F6;
    border-color: #02C8F6;
    color: #E5E5E5;
    width: 50%;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.merch-buy-btn:hover{
    background-color: #1C304A;
}
.buy-now-text, .buy-now-text:link{
    text-transform: uppercase;
    text-decoration: none;
    
}
.card-head{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #1C304A;
}
.card-body-text{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #1C304A;
}

/*Concert Schedule section */
.concert-schedule{
    height: 100%;
    margin-bottom: 3rem;
}
.h2-head{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #1C304A;
    text-transform: capitalize;
    height: 10%;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    padding: 0.5rem;
}
/* learned more about Box shadows here https://css-tricks.com/almanac/properties/b/box-shadow/ */
.upcoming-concert-details {
    background-color: #1C304A;
    height: 80%;
    margin-bottom: 4rem;
    box-shadow: 0.3rem 0.3rem 0.9rem 0.2rem #1C304A;
    border-color: #1C304A;
}
/* had an issue with transitioning the element and I got the answer here https://travis.media/how-to-make-an-item-grow-on-hover-with-css/ */
.upcoming-concert-details:hover{
    transition: all .5s ease-in-out;
    transform: scale(1.1);
}
.upcoming-concert-head{
    color:#E5E5E5;
    background-color: #1c304A;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}
.upcoming-concert-body{
    color:#E5E5E5;
    display: flex;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    margin: 0 auto;
}
/* got help with my table placement from https://www.w3docs.com/snippets/css/how-to-create-space-between-rows-in-the-table.html */
.concert-table {
  border-collapse: separate;
  border-spacing: 0 1.5rem;
}
.concert-details{
    width: 15rem;
    text-align: center;
}

/* Contact us form */
.contact-us-form{
    text-align: center;
}

/* Band Members section about.html */
.band-members{
    height: 100%;
    width: 100%;
    background-color: #2A4262;
    padding: 1.5rem;
}
.band-members-head{
    color: #E5E5E5;
}
.band-member-name{
    color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}
.band-member-role{
    color: #E5E5E5;
    font-family: 'Roboto',sans-serif;
    font-size: 0.8rem;
    font-weight: 200;
    text-align: center;
}
.band-member-information{
    color: #E5E5E5;
    font-family: 'Roboto',sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
    padding: 0.8rem;
    margin-bottom: 4rem;
}
.story-manson-avenue{
    height: 100%;
    width: 100%;
    padding: 1.5rem;
}
.story-questions{
    color: #1C304A;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}
.story-information{
    color: #1C304A;
    font-family: 'Roboto',sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    padding: 0.8rem;
    margin-bottom: 3rem;
}
.center-button{
    text-align: center;
}
#about-us-cta{
    width: 80%;
    background-color: #02C8F6;
    color: #E5E5E5;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #02C8F6;
}
/*media queries */

@media only screen and (max-width: 768px){
    .review-border{
        border-right: hidden;
    }
}
@media only screen and (max-width: 444px){
    .review-heading{
        font-size: 1rem;
    }
    .review-para{
        font-size: 0.8rem;
    }
    .manson-logo{
        font-size: 1rem;
    }
    .band-merch-head{
        font-size: 1rem;
    }
    .concert-head{
        font-size: 1.3rem;
    }
}
@media screen and (min-width: 767px){
    
    .merch-img{
        height: 20vh;
    }
    .review-img{
        height: 7.5rem;
        width: 7.5rem;
    }
    .hdr{
        height: 100vh;
    }
    .contact-form-jumbotron{
        top: 45%;
    }
    .contact-form-question{
        font-size: 2.5rem;
    }
    .contact-form-text{
        font-size: 1.4rem;
        margin-top: 5%;
        margin-left: 25%;
        padding: 0.5rem 8rem;

    }
    .contact-section{
        margin-bottom: 30%;
    }
}
@media screen and (min-width: 400px){
    .contact-form-text{
        margin-left: 25%;
    }
}
@media screen and (min-width: 600px){
    #hdr-cta-btn1, #hdr-cta-btn2{
        display: inline-block;
        width: 30%;
        top: 75%;
        margin-left: 10%;
        margin-right: 5%;
    }
}