@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/* colors */
.nav-bg-col {
    background-color: #1C304A;
}
.nav-item, a{
    color: #E5E5E5;
}

/* toggler button */
.hamburger-icon{
    color: #E5E5E5;
    padding-top: 20%;
    padding-right: 30%;
    padding-bottom: 20%;
}
span .hamburger-icon{
    font-size: 2.5rem;
}
.nav-btn-col{
    border-color: #1C304A;
}
#navbar-btn:focus{
    outline: none;
}
/* Manson Logo */
/*CREDIT: Issues with line height and letter spacing resolved with thanks to stack overflow: https://stackoverflow.com/questions/3587390/how-can-i-make-text-appear-on-next-line-instead-of-overflowing#3587411 */
.manson-logo{
    width: 50%;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    color: #E5E5E5;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 3px;
    white-space: initial;
}
.manson-logo:hover{
    color: #02C8F6;
}
/* Navbar Items */
.nav-item, a:hover{
    color:#02C8F6;
}
.navbar .nav-link{
    text-transform: capitalize;
    line-height: 2rem;
}
.menu-link{
    font-size: 6rem;
}
/* footer*/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1C304A;
    padding: 1rem;
}
.foot-head, h3{
    color: #E5E5E5;
    font-size: 1rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.foot-deets{
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}
.social-icons{
    text-align: center;
    line-height: 2em;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #02C8F6;
    color: #E5E5E5;
}
/* header */
.hdr{
    height: 75vh;
    width: 100vw;
}
.header-image {
    background: url("../images/manson-avenue.jpg");
    background-size: cover;
    background-position: 70% 20%;
    background-repeat: no-repeat;
}